* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.create-post {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dbdbdb;
  box-shadow: 3px 1px 10px #dbdbdb;
}
.create-post-heading {
  text-align: center;
}

.nav {
  background-color: rgb(90, 131, 252);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.last-link {
  text-align: end;
}
.input-flex {
  display: flex;
  flex-direction: column;
}
.home h1 {
  text-align: center;
  font-style: italic;
  color: rgb(52, 2, 167);
  font-size: 30px;
}
.post {
  margin: 30px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
}
.post-info {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f44336;
  margin-right: 10px;
}
.post-data {
  margin: 2px;
}
.but-pos {
  padding: 20px 10px 5px;
  text-align: end;
}
.form-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
